version: 2.1
parameters:
  restore_cache_prefix:
    description: set to random value to disable cache restoration
    type: string
    default: ''
orbs:
  eventuate-gradle-build-and-test: "eventuate_io/eventuate-gradle-build-and-test@0.2.7"
workflows:
  version: 2.1
  build-test-and-deploy:
    jobs:
      - eventuate-gradle-build-and-test/build-and-test:
          name: mysql
          script: ./build-and-test-all-mysql.sh
          restore_cache_prefix: "<<pipeline.parameters.restore_cache_prefix>>"
      - eventuate-gradle-build-and-test/build-and-test:
          name: postgres-polling
          script: ./build-and-test-all-postgres-polling.sh
          restore_cache_prefix: "<<pipeline.parameters.restore_cache_prefix>>"
      - eventuate-gradle-build-and-test/build-and-test:
          name: postgres-wal
          script: ./build-and-test-all-postgres-wal.sh
          restore_cache_prefix: "<<pipeline.parameters.restore_cache_prefix>>"
